* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allpage {
    background: #e7e7e7;
    padding: 0 0 60px 0;
}


.container {
    margin: 0 auto;
    width: 1200px;
    /* background-color: #11301a;  */
    border: 2px solid black;
    overflow: visible;
}

.logo {
    height: 250px;
    position: relative;
    background-color: lightblue;
}

.logo_img_block {   
    position: absolute;
    top: 0px;
    left: 15px;
}

.logo .logo_img {
    margin: 0 auto;
    padding-top: 15px;
}

.logo .logo_text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
/* 
.main_container > div {
    width: 50%;
    
} */

.main {
    /* box-sizing: border-box; */
    font-size: 20px;
    display: inline-block;
    width: 25%;
    margin-top: 15px;
    padding: 30px;
    background-color: rgb(119, 119, 119);
    color: white;
}
