* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allpage {
    background: url('/img/darkgrey-asphalt.jpg');
    padding: 0 0 0 0;
}


.container {
    margin: 0 auto;
    width: 1200px;
    background-color: #23663f54; 
    border: 2px solid black;
    overflow: visible;
}

.logo {
    height: 250px;
    position: relative;
    background: url('/img/gray-texture-3.jpg');
}

.logo_img_block {   
    position: absolute;
    top: 15px;
    left: 15px;
}

.logo .logo_img {
    margin: 0 auto;
    width: 184px;
    border: 1px solid white;
}

.logo .logo_text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
/* 
.main_container > div {
    width: 50%;
    
} */

.main {
    font-size: 20px;
    margin-top: 15px;
    padding: 30px;
    background-color: rgba(119, 119, 119, 0.5);
    color: white;
    box-shadow: inset 0px 0px 10px 5px rgb(78, 61, 175);
}
